@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




#header4-68 H1 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}
#header4-68 P {
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;
}
#header4-68 .btn {
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-72 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-72.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-72 .mbr-navbar__items a {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-72 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-26 P {
  color: #c1c1c1;
}
#header1-73 P {
  font-size: 15px;
  text-align: center;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}

#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-31 H1 {
  font-family: 'Roboto', sans-serif;
}
#contacts3-26 P {
  color: #c1c1c1;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-26 P {
  color: #c1c1c1;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-26 P {
  color: #c1c1c1;
}

#slider-2 H1 {
  font-family: 'Roboto', sans-serif;
  text-align: right;
}
#slider-45 H1 {
  color: #ffffff;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-26 P {
  color: #c1c1c1;
}
